@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.allsections{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.firstone{
    width: 100%;
    height: 100vh; 
}
.nav-pro{
    width: 100%;
    height: 100vh;
    background-size: cover;
    justify-content: center;
    background-image: url('../images/Home-index.png');
    background-repeat: no-repeat;
    background-position: center;
}
.nav-pro img{
    object-fit: contain;
}
.nav-section{
    width: 100%;
    height: 77px;
    background-color: rgba(11, 10, 9, 0.2);
}
.full-nav{
    width: 100%;
    position: relative;
}
.nav-1{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.icon img{     
    display: block;
    margin: 10px 77px 0px;
    width: 60%;
    height: auto;
}
.icon{
    width: 160px;
}
.nav-links{
    position: relative;
    left: 400px;
}
.nav-links ul{
    display: inline-flex;
    gap: 58px;
    width: 48px;
    height: 25px;
    margin: 20px;
    font-family: "poppins";
}
#nav-p{
    color: aliceblue;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
#nav-h2{
    color: rgba(89, 0, 120, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.follow-icons{
    width: 0%;
}
.social-ions{
    width: 100%;
    position: relative;
    left: 113px;
}
.img-soicon{
    width: 19px;
    height: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 334px;
}
.img-soicon img{
    margin: 10px 0;
    width: 70%;
}
.follow{
    rotate: 90deg;
    color: rgba(157, 152, 149, 1);
    width: 75px;
    height: 24px;
    position: relative;
    top: 211px;
    left: 83px;
}
.follow h3{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    font-family: "poppins";
}
.emp-99che{
    width: 485px;
    height: 114px;
    position: relative;
    top: 369px;
    left: 214px;
}
#cheat{
    width: 540px;
}
.emplom{
    width: 554px;
    height: 114px;
}
.emplom img{
    width: 80%;
}

/* Second section */
.second{
    width: 100%;
    height: 478px;
    background-color: rgba(11, 10, 9, 1);  
}
.section-2{
    display: flex;
    justify-content: center;
    width: 100%;
}
.inside{
    width: 100%;
    height: 406px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 190px 0px 0px 0px;
}
.para-about p{
    color: rgba(157, 152, 149, 1);
    font-family: "poppins";
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    padding: 30px 0px;   
}
.parag h1{
    font-family: "poppins";
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: rgba(255, 255, 255, 1);;
}
.inside-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.paraghead{
    width: 401.5px;
    height: 286px;
    text-align: left;
    top: 60px;
}
.imgelogo{
    width: 100%;  
    position: relative;
}
.imgelogo img{
    width:100%;
    padding: 0px 27px;
    width: 450px;
}
.section-bt1{
    display: flex;
    justify-content: left;
    align-items: center;
}
.Jbl-cond{
    display: none;
}
.media-followline{
    display: block;
    rotate: 90deg;
    position: relative;
    left: 58px;
    top: -68px;
}
.media-heapnoesection-2{
    display: none;
}
.headphone{
    text-align: center;
}
.balck-btnjbl{
    display: none;
}
/* Firstmedia */
@media (max-width:376px){
    .firstone{
        background-color: #151414;
        background-image: none;
    }
    .nav-pro{
        background-image: none;
    }
    .full-nav{
        display: none;
    }
    .nav-section{
        width: 0;
        height: 0;
    }
    .full-nav{
        display: none;
    }
    .emp-99che{
        display: none;
        width: 0;
        height: 0;
    }
    .follow-icons{
        display: block;
    }
    .img-soicon{
        top: 472px;
        left: 66px;
    }
    .Jbl-cond{
        display: block;
        width: 100%;
        height: 100vh;
    }
    .inside{
        display: none;
    }
    .navcond-media{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 75%;
    }
    .navcond-media h1{
        text-align: left;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        font-family: "poppins";
        color:  rgba(89, 0, 120, 1);
        text-align: left;
    }
    .fa-solid {
        width: 18px;
        display: contents;
        height: 16px;
    }
    .fa-solid img{
        width:18px;
    }
    .media-followline{
        display: block;
        rotate: 90deg;
        position: relative;
        left: 71px;
        top: 0px;
    }
    .follow {
        position: relative;
        top: 345px;
        left: 134px;    
    }
    .follow-icons{
        position: relative;
        right: 137px;
        top: -118px;
    }
    .headphone-jblcond{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 227px;
        width: 269px;
        position: relative;
        top: 139px;
        left: 46px;
    }
    .jbl-headcond{
        display: inline-flex;
    }
    .jbl-hedphonecond{
        width: 220px;
        height: auto;
        padding: 10px;
        position: absolute;
    }
    .jbl-senta{
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 8px;
        position: relative;
        top: -21px;
    }
    .jbl-j{
        position: relative;
        color: rgba(89, 0, 120, 1);
        font-family: "poppins";
        font-size: 160px;
        line-height: 240px;
        font-weight: 600;
        z-index: 1;
    }
    .jbl-b{
        position: relative;
        color: rgba(89, 0, 120, 1);
        font-family: "poppins";
        font-size: 160px;
        line-height: 240px;
        font-weight: 600;
    }
    .jbl-l{
        position: relative;
        color: rgba(89, 0, 120, 1);
        font-family: "poppins";
        font-size: 160px;
        line-height: 240px;
        font-weight: 600;
        z-index: 1;
    }
    .price-button{
        position: absolute;
        left: 143px;
        display: inline-flex;
    }
    .media-btn{ 
        display: none;
    }
    .price-btn{
        cursor: pointer;
        border-radius: 64px;
        background: linear-gradient(90deg, #4A4745 0%, #151414);
        width: 65px;
        height: 27px;
        font-size: 13px;
        line-height: 19.5px;
        font-weight: 500;
        color: #fff;
        position: relative;
        top: -13px;
        right: 3px;
        border: 0;
        font-family: "poppins";
    }
    .balck-btnjbl{
        min-width: 130px;
        height: 40px;
        border: none;
        border-radius: 64px;
        display: inline-flex;
        align-items: center;
        justify-content: space-evenly;
        cursor: pointer;
        background: linear-gradient(90deg, #4A4745 0%, #151414);
        font-size: 15px;
        font-weight: 600;
        line-height: 22.5px;
        font-family: "poppins";
        color: rgba(255, 255, 255, 1);
        box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.25);
        position: relative;
        top: 87px;
        left: 54px;
    }
    .jblcondiner{
        width: 85%;
        height: 75%;
    }
    /* section2 */
    .section-2{
        margin-top: 0px;
        width: 100%;
        height: 644px;
    }
    .second{
        height: 548px;
    }
    .inside{
        display: block;
        width: 100%;
        height: 100%;
    }
    .inside-1{
        position: relative;
        top: -155px;
    }
    .imgage-sec{
        display: none;
    }
    .parag h1{
        font-size: 20px;
        line-height: 30px;
        text-align: center;
    }
    .para-about p{
        font-size: 15px;
        line-height: 22.5px;
        text-align: center;
        padding: 30px 20px;
    }
    .media-heapnoesection-2{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px 0px;
    }
}
@media (min-width: 628px) and (max-width:1184px){
    .firstone{
        object-fit: fill;
    }
    .firstone{
        background-color: #151414;
        background-image: none;
    }
    .nav-section{
        width: 100%;
    }
    .nav-1{
        width: 100%;
        margin-left: 0%;
    }
    .nav-links{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0%;
    }
    .nav-links ul{
        gap: 7px;
    } 
    .emp-99che{
        width: 0;
        top: 255px;
        left: 192px;
    
    }
    .emplom{
        width: 350px;
    }
    #cheat{
        width: 100%;
    }
    .imgelogo{
        width: 300px;
    }
    .imgelogo img{
        width: 100%;
    }
    .parag{
        width: 100%;
    }
    .para-about{
        width: 300px;
    }
    .inside-1{
        width: 90%;
    }
    .follow{
        top: 149px;
    }
    .follow  h3{
       font-size: 12px;
    }
    .img-soicon{
        top: 240px;
    }
    .media-followline{
        left: 45px;
        top: -71px;
    }
    .img-soicon img{
        width: 60%;
    }
    .emplom img{
        width: 70%;
    }
}
@media (min-width: 377px) and (max-width:629px){
    .full-nav{
        display: none;
    }
    .Jbl-cond{
        background-color: #151414;
        background-image: none;
    }
    .nav-section{
        width: 0;
        height: 0;
    }
    .full-nav{
        display: none;
    }
    .emp-99che{
        display: none;
        width: 0;
        height: 0;
    }
    .follow-icons{
        display: block;
    }
    .Jbl-cond{
        display: block;
        width: 100%;
        height: 100vh;
    }
    .inside{
        display: none;
    }
    .navcond-media{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 75%;
    }
    .navcond-media h1{
        text-align: left;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        font-family: "poppins";
        color:  rgba(89, 0, 120, 1);
        text-align: left;
    }
    .fa-solid {
        width: 18px;
        display: contents;
        height: 16px;
    }
    .fa-solid img{
        width:18px;
    }
    .media-followline{
        display: block;
        rotate: 90deg;
        position: relative;
        left: 71px;
        top: 0px;
    }
    .follow {
        position: relative;
        top: 345px;
        left: 134px;    
    }
    .follow-icons{
        position: relative;
        right: 137px;
        top: -118px;
    }
    .headphone-jblcond{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;
        top: 172px;
    }
    .jbl-headcond{
        display: inline-flex;
    }
    .jbl-hedphonecond{
        width: 220px;
        height: auto;
        padding: 10px;
        position: absolute;
    }
    .jbl-senta{
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 8px;
        position: relative;
        top: -21px;
    }
    .jbl-j{
        position: relative;
        color: rgba(89, 0, 120, 1);
        font-family: "poppins";
        font-size: 160px;
        line-height: 240px;
        font-weight: 600;
        z-index: 1;
    }
    .jbl-b{
        position: relative;
        color: rgba(89, 0, 120, 1);
        font-family: "poppins";
        font-size: 160px;
        line-height: 240px;
        font-weight: 600;
    }
    .jbl-l{
        position: relative;
        color: rgba(89, 0, 120, 1);
        font-family: "poppins";
        font-size: 160px;
        line-height: 240px;
        font-weight: 600;
        z-index: 1;
    }
    .price-button{
        position: relative;
        margin-left: -107px;
    }
    .media-btn{ 
        display: none;
    }
    .price-btn{
        cursor: pointer;
        border-radius: 64px;
        background: linear-gradient(90deg, #4A4745 0%, #151414);
        width: 44px;
        height: 27px;
        font-size: 13px;
        line-height: 19.5px;
        font-weight: 500;
        color: #fff;
        position: relative;
        top: -49px;
        left: 61px;
        border: 0;
        font-family: "poppins";
    }
    .balck-btnjbl{
        min-width: 130px;
        height: 40px;
        border: none;
        border-radius: 64px;
        display: inline-flex;
        align-items: center;
        justify-content: space-evenly;
        cursor: pointer;
        background: linear-gradient(90deg, #4A4745 0%, #151414);
        font-size: 15px;
        font-weight: 600;
        line-height: 22.5px;
        font-family: "poppins";
        color: rgba(255, 255, 255, 1);
        box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.25);
        position: relative;
        top: 87px;
    }
    .jblcondiner{
        width: 85%;
        height: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .social-ions{
        left: 161px;
    }
    .img-soicon{
        top: 472px;
    }
    /* section2 */
    .section-2{
        margin-top: 0px;
        width: 100%;
        height: 644px;
    }
    .second{
        height: 548px;
    }
    .inside{
        display: block;
        width: 100%;
        height: 100%;
    }
    .inside-1{
        position: relative;
        top: -155px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .imgage-sec{
        display: none;
    }
    .parag h1{
        font-size: 20px;
        line-height: 30px;
        text-align: center;
    }
    .para-about p{
        font-size: 15px;
        line-height: 22.5px;
        text-align: center;
    }
    .media-heapnoesection-2{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px 0px;
    }
}
/* Third */
.secondsection{
    justify-content: center;
    width: 100%;
    background-color: rgba(11, 10, 9, 1);
}
.section-3{
    padding: 76px 188px 51px;
}
.headphone-main{
    width: 100%;
    height: 548px;
}
.headphone-main h2{
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    font-family: "poppins";
    color: rgba(255, 255, 255, 1);
    position: relative;
}
.headphone{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    gap: 72px;
    padding: 28px 0px 0px 0px;
}
.hed-phones1 {
    width: 280px;
    height: 298.5px;
}
.hed-phones1 img{
    width: 100%;
    height: 100%;
}
.hed-phones2{
    width: 350px;
    height: 373.5px;
}
.hed-phones2 img{
    width: 100%;
}
.btn-headphone{
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    border-radius: 64px;
    background: linear-gradient(90deg, #4A4745 0%, #151414);
    border: 0;
    color: rgba(255, 255, 255, 1);
    width: 178px;
    height: 56px;
    font-family: "poppins";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    position: relative;
}
.btn-headphone2{
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    border-radius: 64px;
    background: linear-gradient(90deg, #4A4745 0%, #151414);
    border: 0;
    color: rgba(255, 255, 255, 1);
    width: 145px;
    height: 40px;
    font-family: "poppins";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    position: relative;
}
#blur-button{
    filter: blur(2px);
    width: 136px;
    height: 40px;
}
/* media -2 */
@media (max-width:376px){
    .secondsection{
        width: 100%;
    }
    .section-3{
        width: 100%;
        padding: 0px;
        overflow: hidden;
    }
    .hed-phones1{
        width: 220px;
        height:297px;
    }
    .headphone-main h2{
        font-size: 20px;
        line-height: 30px;
        width: 245px;
        height: 30px;
    }
    #blur-button{
        display: none;
    }
    .section-bt1{
        justify-content: center;
    }
    .hed-phones2{
        width: 220px;
        height: 234px;
    }
    .hed-phones1{
        width: 180px;
        height: 191px;
    }
    .headphone-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .btn-headphone{
        font-size: 15px;
        font-weight: 600;
        line-height: 22.5px;
        padding: 2px;
        width: 173px;
        height: 56px;
    } 
    .headphone{
        gap: 0px;
        padding: 22px 0px 0px 0px;
    }  
    .btn-headphone2{
        font-size: 15px;
        font-weight: 400;
        line-height: 22.5px;
    }
}
@media (min-width: 628px) and (max-width:1184px){
    .section-3{
        overflow: hidden;
        padding: 65px 96px;
    }
}
@media (min-width: 377px) and (max-width:628px){
    .secondsection{
        width: 100%;
    }
    .section-3{
        width: 100%;
        padding: 0px;
        overflow: hidden;
    }
    .hed-phones1{
        width: 220px;
        height:297px;

    }
    .headphone{
        gap: 10px;
        padding: 10px 0px 0px 0px;    
    }
    .headphone-main h2{
        font-size: 20px;
        line-height: 30px;
        width: 245px;
        height: 30px;
    }
    .section-bt1{
        justify-content: center;
    }
    .hed-phones2{
        width: 220px;
        height: 234px;
    }
    .hed-phones1{
        width: 180px;
        height: 191px;
    }
    .headphone-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 56px;
    }
    .btn-headphone{
        font-size: 15px;
        font-weight: 400;
        line-height: 22.5px;
        padding: 2px;
        width: 138px;
        height: 38px;
    }  
}
/* Fourth section */

.fourthsection{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 821px;
    background-color: rgba(11, 10, 9, 1);
}
.headphone-image{
    width: 100%;
    position: relative;
    gap: 40px;
    display: flex;
    flex-direction: column;
}
.fouth-head{
    max-width: 100%;
}
.black-headphone h2{
    font-family: "poppins";
    font-size: 36px;
    line-height: 54px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
.balck-btn{
    width: 176px;
    height: 40px;
    background: linear-gradient(90deg, #4A4745 0%, #151414);
    color: rgba(255, 255, 255, 1);
    border-radius: 64px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    font-family: "poppins";
    display: inline-block;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.25);
    position:relative;
    top: -15px;
    border: 0;
}
.balck-btn1{
    width:  158px;
    height: 56px;
    border: none;
    border-radius: 64px;
    padding: 8px, 20px, 8px, 20px;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    background: linear-gradient(90deg, #4A4745 0%, #151414);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    font-family: "poppins";
    color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.25);
}
.feature-1{
    position: absolute;
    top: 170px;
    display: inline-flex;
    right: 308px;
}
.feature-2{
    position: absolute;
    top: 104px;
    display: inline-flex;
    left: 442px;
}
.feature-3{
    position: absolute;
    top: 354px;
    display: inline-flex;
    right: 412px;
}
.feature-4{
    position: absolute;
    top: 297px;
    display: inline-flex;
    left: 308px;
}
.feature-5{
    align-items: center;
    justify-content: center;
    display:flex;
}
.hidden-tooth{
    display: none;
}
.hidden-tooth1{
    display: none;
}
.hidden-tooth-1{
    display: none;       
}
.black-headphone{
    display: flex;
    flex-direction: column;
    gap:80px;
}
/* media-4 */
@media (max-width:376px){
    .balckhedaphone{
        width: 280px;
        height: 280px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .balckhedaphone img{
        width: 90%;
    }
    .black-headphone h2{
        font-size: 20px;
        line-height: 30px;
        text-align: center;
    }
    .feature-1{
        width: 194px;
        height: 24px;
        right: 80px;
        top: 117px;
    }
    .balck-btn{
        width: 76px;
        height: 25px;
        font-size: 10px;
        line-height: 7px;
    }
    .feature-2{
        width: 144px;
        height: 22px;
        left: 155px;
        top: 34px;
    }
    #tooth2{
        display: none;
    }
    .hidden-tooth{
        display: block;
        position: relative;
        top: 13px;
        left: 32px;
    }
    #balck-btn12{
        width: 100%;
        position: relative;
        right: 112px;
        top: 1px;
    }
    .feature-3{
        width: 194px;
        height: 29px;
        right: 97px;
        top: 210px;
    }
    .hidden-tooth1{
        display: block;
    }
    #balck-btn3{
        left: 129px;
    }
    .feature-4{
        width: 130px;
        height: 24px;
        left: 146px;
        top: 138px;
        right: 37px;
    }
    #tooth22{
        display: none;
    }
    .balck-btn1{
        width: 154px;
        height: 56px;
        font-size: 15px;
        font-weight: 600;
    }
}
@media (min-width: 628px) and (max-width:1184px){
    .balckhedaphone{
        width: 400px;
    }
    .balckhedaphone img{
        width: 100%;
    }
    #tooth2{
        width: 50px;
        height: 40px;
    }
    .feature-1{
        width: 200px;
        top: 104px;
        right: 262px;
    }
    .feature-2{
        width: 168px;
        left: 350px;
        top: 71px;
    }
    .balck-btn{
        font-size: 12px;
        width: 146px;
    }
    #tooth22{
        width: 118px;
        height: 47px;
    }
    .feature-3{
        width: 158px;
        top: 277px;
        right: 352px;
    }
    .feature-4{
        width: 212px;
        top: 232px;
        left: 251px;
    } 
    .tooth{
        width: 30%;
    }

}
@media (min-width: 377px) and (max-width:629px){
    .balckhedaphone{
        width: 290px;
        height: 280px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .balckhedaphone img{
        width: 100%;
    }
    .black-headphone h2{
        font-size: 20px;
        line-height: 30px;
        text-align: center;
    }
    .feature-1{
        width: 194px;
        height: 24px;
        right: 115px;
        top: 127px;
    }
    .balck-btn{
        width: 100px;
        height: 25px;
        font-size: 10px;
        line-height: 7px;
    }
    .feature-2{
        width: 157px;
        height: 22px;
        left: 162px;
        top: 18px;
    }
    #tooth2{
        display: none;
    }
    .hidden-tooth{
        display: block;
        position: relative;
        top: 14px;
        left: 45px;
    }
    #balck-btn12{
        width: 100%;
        position: relative;
        right: 112px;
        top: 1px;
    }
    .feature-3{
        width: 194px;
        height: 29px;
        right: 138px;
        top: 227px;
    }
    .hidden-tooth1{
        display: block;
    }
    #balck-btn3{
        left: 165px;
        top: -11px;
    }
    .feature-4{
        width: 178px;
        height: 24px;
        left: 154px;
        top: 138px;
        right: 37px;
    }
    #tooth22{
        display: none;
    }
}
/* Fifth Section */
.fifthsection{
    width: 100%;
    height: 211px;
    background-color: rgba(11, 10, 9, 1);
}
.fifth{
    width: 100%;
    height: 211px;
}
.sociamedia-cond{
    width: 100%;
}
.social{
width: 100%;
}
.socialmed-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 82px;
    gap: 124px;
}
.social2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 83px;
    gap: 110px;
}
.socialcond-media{
    display: none;
}
/* media section 5 */
@media (max-width:376px){
    .social{        
        display:none ;
    }
    .socialcond-media{
        display: block;
    }
    .socialcond-media{
        width: 100%;
        height: 100%;
    }
    .socialmedia-firstcol{
        width: 100%;
    }
    .colm-1-media{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 0px;
        gap: 64px;
    }
    .colm-2-media{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 0px;
        gap: 64px;
    }
    .socia-medihideen{
        width: 100px;
        height: 35px;
    }
    .socia-medihideen img{
        width: 100%;
    }
}
@media (min-width: 628px) and (max-width:1053px){
    .socialmed-1{
        gap: 40px;
    }
}
@media (min-width: 377px) and (max-width:628px){
    .social{        
        display:none ;
    }
    .socialcond-media{
        display: block;
    }
    .socialcond-media{
        width: 100%;
        height: 100%;
    }
    .socialmedia-firstcol{
        width: 100%;
    }
    .colm-1-media{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 36px 0px 5px 0px;
    }
    .colm-2-media{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 39px 0px 0px 0px;
    }
    .socia-medihideen{
        width: 100px;
        height: 35px;
    }
    .socia-medihideen img{
        width: 100%;
    }
}
/* Footer */
.footerlast{
    width: 100%;
    height: 443px;
    background-color: rgba(11, 10, 9, 1);
    text-align: center;
}
.footer-head{
    width: 100%;
}
.footer-container{
    display: flex;
    flex-direction: row;
    gap: 96px;
    padding: 116px;
    justify-content: center;
}
a{
    text-decoration: none;
}
#butterfy{
    text-decoration: underline;
    color: rgba(89, 0, 120, 1);
}
.products-cond{
    position: relative;
    gap: 7px;
    display: grid;
    text-align: left;
}
.products-cond a{
   color:rgba(157, 152, 149, 1);
}
.sapport-cond a{
    color:rgba(157, 152, 149, 1);
}
.sapport-cond{
    gap: 7px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.email-cond{
    width: 360px;
    height: 128px; 
}
.email-cond1{
    width: 100%;
    display: flex;
}
.email-cond1 input{
    width: 360px;
    height: 72px;
    border-radius: 64px;
    background-color: rgba(27, 25, 24, 1);
    border: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: "poppins";
}
input::placeholder{
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.email-cond1 button{
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    border-radius: 64px;
    width: 170px;
    height: 50px;
    position: relative;
    left: 80px;
    top: -61px;
    background: linear-gradient(90deg, #4A4745 0%, #151414);
    border: 0;
}
.sub-p{
    width: 84px;
    height: 24px;
    font-size:16px;
    font-weight: 600;
    line-height: 24px;
    font-family: "poppins";
}
.icons-cond{
    padding: 19px;
    display: flex;
    gap: 24px;
    position: relative;
    top: -46px;
}
.products-cond h3{
    font-family: "poppins";
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}
.products-cond p{
    font-family: "poppins";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.sapport-cond h3{
    font-family: "poppins";
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}
.sapport-cond p{
    font-family: "poppins";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.footer-lowerhead h1{
    font-family: "poppins";
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgba(157, 152, 149, 1);
}
.media-jblfoot{
    display: none;
}
#col-hedfooter{
    color:rgba(255, 255, 255, 1);
}
#sub-p{
    color:rgba(255, 255, 255, 1);
    font-family: "poppins";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
#reg-sapport{
    display: none;
}
#hidden-footer{
    display: none;
}
@media (max-width:377px){
    .email-cond1 button{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 64px;
        width: 280px;
        height: 45px;
        position: relative;
        font-size: 15px;
        font-weight: 500;
        line-height: 22.5px;
        font-family: "poppins";
        top: 10px;
        background: linear-gradient(90deg, #4A4745 0%, #151414);
        border: 0;
        color: rgba(255, 255, 255, 1);
        gap: 8px;
        left: 0;
    }
    .email-cond1{
        width: 100%;
        position: relative;
        top: -74px;
    }
    .email-cond1 input{
        width: 280px;
        height: 45px;
        border-radius: 64px;
        background-color: rgba(27, 25, 24, 1);
        border: 0;
        font-size:16px;
        font-weight: 400;
        line-height: 24px;
        font-family: "poppins";
    }
    .footerlast{
        width: 100%;
        height: 606px;
        background-color: rgba(11, 10, 9, 1);
        text-align: center;
    }
    .footer-head{
        width: 100%;
        text-align: left;
    }
    .media-jblfoot{
        display: block;
        color: rgba(89, 0, 120, 1);
        font-weight: 600;
        font-size: 20px;
        font-family: "poppins";
        padding: 0px 13px;
    }
    .footer-container{
        display: grid;
        gap: 0;
        overflow: hidden;
        padding: 0;
    }
    .products-cond{
        position: relative;
        top: 80px;
        text-align: left;
        left: 17px;
    }
    .sapport-cond{
        position: relative;
        top: -61px;
        text-align: left;
        left: 190px;
    }
    .email-cond{
        width: 300px;
        margin-top: 84px;
    }
    .icons-cond{
        padding: 0%;
        width: 0;
        position: relative;
        left: 100px;
        top: -40px;
    }
    .email-cond1{
        left: 18px;
    }

    .products-cond h3{
        font-size: 16px;
        line-height: 24px;
    }
    .products-cond p{
        font-size: 15px;
        line-height: 22.5px;
    }
    .sapport-cond h3{
        font-size: 16px;
        line-height: 24px;
    }
    .sapport-cond p{
        font-size: 15px;
        line-height: 22.5px;
    }
    #reg-sapport{
        display: block;
    }
    input::placeholder{
        color:  rgba(157, 152, 149, 1);
        font-size: 15px;
        font-weight:400;
        line-height: 22.5px;
    }
    #sub-p{
        font-size: 15px;
        font-weight:600;
        line-height: 22.5px;
    }
    .footer-lowerhead h1{
        display: none;
    }
    #hidden-footer{
        display: inline-block;
        padding: 25px;
    }
}
@media (min-width: 628px) and (max-width:1184px){
    .footer-container{
        gap: 29px;
    }
}
@media (min-width: 377px) and (max-width:628px){
    .email-cond1 button{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 64px;
        width: 280px;
        height: 45px;
        position: relative;
        font-size: 15px;
        font-weight: 500;
        line-height: 22.5px;
        font-family: "poppins";
        top: 10px;
        background: linear-gradient(90deg, #4A4745 0%, #151414);
        border: 0;
        color: rgba(255, 255, 255, 1);
        gap: 8px;
        left: 0;
    }
    .email-cond1{
        width: 100%;
        position: relative;
        top: -74px;
    }
    .email-cond1 input{
        width: 280px;
        height: 45px;
        border-radius: 64px;
        background-color: rgba(27, 25, 24, 1);
        border: 0;
        font-size:16px;
        font-weight: 400;
        line-height: 24px;
        font-family: "poppins";
    }
    .footerlast{
        width: 100%;
        height: 606px;
        background-color: rgba(11, 10, 9, 1);
        text-align: center;
    }
    .footer-head{
        width: 100%;
        text-align: left;
    }
    .media-jblfoot{
        display: block;
        color: rgba(89, 0, 120, 1);
        font-weight: 600;
        font-size: 20px;
        font-family: "poppins";
        padding: 0px 13px;
    }
    .footer-container{
        display: grid;
        gap: 0;
        overflow: hidden;
        padding: 0;
    }
    .products-cond{
        position: relative;
        top: 80px;
        text-align: left;
        left: 17px;
    }
    .sapport-cond{
        position: relative;
        top: -61px;
        text-align: left;
        left: 190px;
    }
    .email-cond{
        width: 300px;
        margin-top: 84px;
    }
    .icons-cond{
        padding: 0%;
        width: 0;
        position: relative;
        left: 100px;
        top: -40px;
    }
    .email-cond1{
        left: 18px;
    }

    .products-cond h3{
        font-size: 16px;
        line-height: 24px;
    }
    .products-cond p{
        font-size: 15px;
        line-height: 22.5px;
    }
    .sapport-cond h3{
        font-size: 16px;
        line-height: 24px;
    }
    .sapport-cond p{
        font-size: 15px;
        line-height: 22.5px;
    }
    #reg-sapport{
        display: block;
    }
    input::placeholder{
        color:  rgba(157, 152, 149, 1);
        font-size: 15px;
        font-weight:400;
        line-height: 22.5px;
    }
    #sub-p{
        font-size: 15px;
        font-weight:600;
        line-height: 22.5px;
    }
    .footer-lowerhead h1{
        display: none;
    }
    #hidden-footer{
        display: inline-block;
        padding: 25px;
    }
}